@font-face {
  font-family: "Wednesday";
  src: url("../font/Wednesday.ttf");
}

.title,
.score {
  color: white;
  font-family: "Wednesday";
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.best-score {
  background-color: aliceblue;
  color: black;
  font-family: "Wednesday";
  padding: 2px;
}

img {
  border-radius: 16px;
  height: 100px;
  width: 100px;
}

p {
  font-family: "Wednesday", "Helvetica Neue";
  font-size: large;
}

